.cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;

  border: 2px solid #101010;
  opacity: 0.9;
  border-radius: 50%;

  z-index: 1;
  pointer-events: none;

  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.cursor::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;

  border: 2px solid #fefefe;
  border-radius: 50%;

  z-index: 1;
  pointer-events: none;
}
